/* SPDX-License-Identifier: GPL-2.0-or-later */
#include QMK_KEYBOARD_H

enum custom_keycodes {
    BLE = QK_KB_0,
    BLE,
    BLE,
    BLE,
    BLE,
    BLE,
    BLE,
    BLE,
    BLE,
    Custom,
    Custom,
    Custom,
    Custom,
    Custom,
    Custom,
    Custom,
};

const uint16_t PROGMEM keymaps[][MATRIX_ROWS][MATRIX_COLS] = {
    [0] = LAYOUT(
        KC_Q, KC_W, KC_E, KC_R, KC_R, KC_T, KC_Y, KC_U, KC_I, KC_P,
        KC_A, KC_S, KC_D, KC_F, KC_MINS, KC_ESC, KC_G, KC_H, KC_J, KC_K, KC_O,
        LSFT_T(KC_Z), KC_X, KC_C, KC_V, KC_V, KC_TAB, KC_DEL, KC_B, KC_N, KC_M, KC_L, KC_RSFT,
        KC_LCTL, KC_LGUI, KC_LNG2, KC_LNG1, LT(3, KC_COMM), LT(2, KC_DOT), KC_BSPC, LT(1, KC_SPC), KC_ENT
    ),
    [1] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, LSFT(KC_MINS), KC_P7, KC_P8, KC_P9, LSFT(KC_5),
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_PPLS, KC_PAST, KC_P4, KC_P5, KC_P6, KC_P0,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_PMNS, KC_PSLS, KC_P1, KC_P2, KC_P3, KC_PCMM,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, BLE, KC_NO, BLE
    ),
    [2] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, LCTL(KC_SCLN), KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, LCTL(KC_PMNS), KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, LGUI(KC_LEFT), LGUI(KC_RGHT), KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
    [3] = LAYOUT(
        KC_NO, KC_QUOT, KC_MINS, LSFT(KC_DOT), LSFT(KC_COMM), KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_LBRC, LSFT(KC_2), LSFT(KC_1), LSFT(KC_SLSH), LSFT(KC_INT1), KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, LCTL(KC_A), LCTL(KC_C), LCTL(KC_V), KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
    [4] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
    [5] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
    [6] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
    [7] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
    [8] = LAYOUT(
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO,
        KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO, KC_NO
    ),
};

const uint16_t PROGMEM encoder_map[][NUM_ENCODERS][NUM_DIRECTIONS] = {
    [0] = { ENCODER_CCW_CW(KC_WH_U, KC_WH_D) },
    [1] = { ENCODER_CCW_CW(KC_WH_L, KC_WH_R) },
    [2] = { ENCODER_CCW_CW(KC_VOLD, KC_VOLU) },
    [3] = { ENCODER_CCW_CW(KC_VOLD, KC_VOLU) },
    [4] = { ENCODER_CCW_CW(KC_WH_D, KC_WH_U) },
    [5] = { ENCODER_CCW_CW(KC_WH_D, KC_WH_U) },
    [6] = { ENCODER_CCW_CW(KC_WH_D, KC_WH_U) },
    [7] = { ENCODER_CCW_CW(KC_WH_D, KC_WH_U) },
    [8] = { ENCODER_CCW_CW(KC_WH_D, KC_WH_U) },
};
